@import url('https://fonts.googleapis.com/css2?family=Kings&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

/* Style for all the button we used in project */
@layer base {
  button {
    @apply cursor-pointer
  }
}

.no-scrollbar ::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}